.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
p {
  margin: 0 0 14px;
}
.lead {
  margin-bottom: 28px;
  font-size: 27px;
  font-weight: 200;
  line-height: 42px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
.text-warning {
  color: #c09853;
}
.text-error {
  color: #b94a48;
}
.text-info {
  color: #3a87ad;
}
.text-success {
  color: #468847;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 14px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1 {
  font-size: 36px;
  line-height: 40px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
  line-height: 40px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}
h1 small {
  font-size: 24px;
}
h2 small {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding-bottom: 13px;
  margin: 28px 0 42px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  padding: 0;
  margin: 0 0 14px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 28px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 28px;
}
dt,
dd {
  line-height: 28px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 14px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 28px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 28px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
}
blockquote small {
  display: block;
  line-height: 28px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 28px;
  font-style: normal;
  line-height: 28px;
}
[class^="icon-social-"],
[class*=" icon-social-"] {
  display: inline-block;
  *margin-right: .3em;
  width: 64px;
  height: 64px;
  line-height: 64px;
  vertical-align: text-top;
  background-position: top left;
  background-repeat: no-repeat;
}
.icon-social-gplus {
  background-image: url("/images/social-icons/64x64/googleplusalt.png");
}
.icon-social-twitter {
  background-image: url("/images/social-icons/64x64/twitter.png");
}
.icon-social-facebook {
  background-image: url("/images/social-icons/64x64/facebook.png");
}
.icon-social-youtube {
  background-image: url("/images/social-icons/64x64/youtube.png");
}
.icon-social-github {
  background-image: url("/images/social-icons/64x64/github.png");
}
.icon-social-pinterest {
  background-image: url("/images/social-icons/64x64/pinterest.png");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  background-image: url('/images/asfalt/asfalt.png');
  background-repeat: repeat;
}
a {
  color: #5d7c7f;
  text-decoration: none;
}
a:hover {
  color: #ad235e;
  text-decoration: none;
}
.row {
  margin-left: -50px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 50px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1270px;
}
.span12 {
  width: 1270px;
}
.span11 {
  width: 1160px;
}
.span10 {
  width: 1050px;
}
.span9 {
  width: 940px;
}
.span8 {
  width: 830px;
}
.span7 {
  width: 720px;
}
.span6 {
  width: 610px;
}
.span5 {
  width: 500px;
}
.span4 {
  width: 390px;
}
.span3 {
  width: 280px;
}
.span2 {
  width: 170px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 1370px;
}
.offset11 {
  margin-left: 1260px;
}
.offset10 {
  margin-left: 1150px;
}
.offset9 {
  margin-left: 1040px;
}
.offset8 {
  margin-left: 930px;
}
.offset7 {
  margin-left: 820px;
}
.offset6 {
  margin-left: 710px;
}
.offset5 {
  margin-left: 600px;
}
.offset4 {
  margin-left: 490px;
}
.offset3 {
  margin-left: 380px;
}
.offset2 {
  margin-left: 270px;
}
.offset1 {
  margin-left: 160px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 3.937007874015748%;
  *margin-left: 3.8976377952755907%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.96062992125984%;
}
.row-fluid .span11 {
  width: 91.33858267716535%;
  *width: 91.29921259842519%;
}
.row-fluid .span10 {
  width: 82.6771653543307%;
  *width: 82.63779527559053%;
}
.row-fluid .span9 {
  width: 74.01574803149606%;
  *width: 73.9763779527559%;
}
.row-fluid .span8 {
  width: 65.35433070866142%;
  *width: 65.31496062992126%;
}
.row-fluid .span7 {
  width: 56.69291338582677%;
  *width: 56.653543307086615%;
}
.row-fluid .span6 {
  width: 48.031496062992126%;
  *width: 47.99212598425197%;
}
.row-fluid .span5 {
  width: 39.37007874015748%;
  *width: 39.330708661417326%;
}
.row-fluid .span4 {
  width: 30.708661417322833%;
  *width: 30.669291338582674%;
}
.row-fluid .span3 {
  width: 22.04724409448819%;
  *width: 22.00787401574803%;
}
.row-fluid .span2 {
  width: 13.385826771653543%;
  *width: 13.346456692913385%;
}
.row-fluid .span1 {
  width: 4.724409448818897%;
  *width: 4.68503937007874%;
}
.row-fluid .offset12 {
  margin-left: 107.8740157480315%;
  *margin-left: 107.79527559055117%;
}
.row-fluid .offset12:first-child {
  margin-left: 103.93700787401575%;
  *margin-left: 103.85826771653542%;
}
.row-fluid .offset11 {
  margin-left: 99.21259842519684%;
  *margin-left: 99.13385826771652%;
}
.row-fluid .offset11:first-child {
  margin-left: 95.2755905511811%;
  *margin-left: 95.19685039370077%;
}
.row-fluid .offset10 {
  margin-left: 90.5511811023622%;
  *margin-left: 90.47244094488187%;
}
.row-fluid .offset10:first-child {
  margin-left: 86.61417322834644%;
  *margin-left: 86.53543307086612%;
}
.row-fluid .offset9 {
  margin-left: 81.88976377952756%;
  *margin-left: 81.81102362204723%;
}
.row-fluid .offset9:first-child {
  margin-left: 77.95275590551181%;
  *margin-left: 77.87401574803148%;
}
.row-fluid .offset8 {
  margin-left: 73.22834645669292%;
  *margin-left: 73.14960629921259%;
}
.row-fluid .offset8:first-child {
  margin-left: 69.29133858267717%;
  *margin-left: 69.21259842519684%;
}
.row-fluid .offset7 {
  margin-left: 64.56692913385827%;
  *margin-left: 64.48818897637794%;
}
.row-fluid .offset7:first-child {
  margin-left: 60.62992125984252%;
  *margin-left: 60.55118110236221%;
}
.row-fluid .offset6 {
  margin-left: 55.90551181102362%;
  *margin-left: 55.82677165354331%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.968503937007874%;
  *margin-left: 51.88976377952756%;
}
.row-fluid .offset5 {
  margin-left: 47.24409448818898%;
  *margin-left: 47.16535433070867%;
}
.row-fluid .offset5:first-child {
  margin-left: 43.30708661417323%;
  *margin-left: 43.22834645669292%;
}
.row-fluid .offset4 {
  margin-left: 38.582677165354326%;
  *margin-left: 38.503937007874015%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.64566929133858%;
  *margin-left: 34.56692913385827%;
}
.row-fluid .offset3 {
  margin-left: 29.921259842519685%;
  *margin-left: 29.842519685039367%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.984251968503937%;
  *margin-left: 25.90551181102362%;
}
.row-fluid .offset2 {
  margin-left: 21.259842519685037%;
  *margin-left: 21.181102362204722%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.32283464566929%;
  *margin-left: 17.244094488188974%;
}
.row-fluid .offset1 {
  margin-left: 12.598425196850393%;
  *margin-left: 12.51968503937008%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.661417322834644%;
  *margin-left: 8.582677165354331%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 50px;
  padding-left: 50px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.container-fluid:after {
  clear: both;
}
.topbar {
  height: 12px;
  background-color: #ad235e;
}
.brand {
  line-height: 48px;
  color: #ad235e;
  font-size: 44px;
}
.brand img {
  margin-top: -12px;
  width: 60px;
}
.headline {
  margin: 30px 0;
  color: #ffffff;
  font-size: 80px;
  line-height: 1.1;
}
.headline .emphasis {
  color: #7D99CF;
}
.headline .bold {
  color: #ad235e;
}
.headline .i {
  font-style: italic;
}
.footer .highlighted-project img {
  border-radius: 10px;
  background-color: #5b7290;
  opacity: .75;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.footer .highlighted-project img:hover {
  opacity: .25;
}
.footer .label.right {
  text-align: right;
}
.nav-social {
  display: block;
  height: 100px;
  overflow: hidden;
  margin: 0;
  float: right;
}
.nav-social li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}
.pull-right {
  float: right;
}
