.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
@media (max-width: 767px) {
  [class^="icon-social-"],
  [class*=" icon-social-"] {
    display: inline-block;
    *margin-right: .3em;
    width: 32px;
    height: 32px;
    line-height: 32px;
    vertical-align: text-top;
    background-position: top left;
    background-repeat: no-repeat;
  }
  .icon-social-gplus {
    background-image: url("/images/social-icons/32/googleplusalt.png");
  }
  .icon-social-twitter {
    background-image: url("/images/social-icons/32/twitter.png");
  }
  .icon-social-facebook {
    background-image: url("/images/social-icons/32/facebook.png");
  }
  .icon-social-youtube {
    background-image: url("/images/social-icons/32/youtube.png");
  }
  .icon-social-github {
    background-image: url("/images/social-icons/32/github.png");
  }
  .icon-social-pinterest {
    background-image: url("/images/social-icons/32/pinterest.png");
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -80px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 80px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1720px;
  }
  .span12 {
    width: 1720px;
  }
  .span11 {
    width: 1570px;
  }
  .span10 {
    width: 1420px;
  }
  .span9 {
    width: 1270px;
  }
  .span8 {
    width: 1120px;
  }
  .span7 {
    width: 970px;
  }
  .span6 {
    width: 820px;
  }
  .span5 {
    width: 670px;
  }
  .span4 {
    width: 520px;
  }
  .span3 {
    width: 370px;
  }
  .span2 {
    width: 220px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1880px;
  }
  .offset11 {
    margin-left: 1730px;
  }
  .offset10 {
    margin-left: 1580px;
  }
  .offset9 {
    margin-left: 1430px;
  }
  .offset8 {
    margin-left: 1280px;
  }
  .offset7 {
    margin-left: 1130px;
  }
  .offset6 {
    margin-left: 980px;
  }
  .offset5 {
    margin-left: 830px;
  }
  .offset4 {
    margin-left: 680px;
  }
  .offset3 {
    margin-left: 530px;
  }
  .offset2 {
    margin-left: 380px;
  }
  .offset1 {
    margin-left: 230px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 4.651162790697675%;
    *margin-left: 4.611792711957517%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.96062992125984%;
  }
  .row-fluid .span11 {
    width: 91.27906976744187%;
    *width: 91.2396996887017%;
  }
  .row-fluid .span10 {
    width: 82.55813953488372%;
    *width: 82.51876945614356%;
  }
  .row-fluid .span9 {
    width: 73.83720930232559%;
    *width: 73.79783922358543%;
  }
  .row-fluid .span8 {
    width: 65.11627906976744%;
    *width: 65.07690899102728%;
  }
  .row-fluid .span7 {
    width: 56.395348837209305%;
    *width: 56.35597875846915%;
  }
  .row-fluid .span6 {
    width: 47.674418604651166%;
    *width: 47.63504852591101%;
  }
  .row-fluid .span5 {
    width: 38.95348837209302%;
    *width: 38.914118293352864%;
  }
  .row-fluid .span4 {
    width: 30.232558139534884%;
    *width: 30.193188060794725%;
  }
  .row-fluid .span3 {
    width: 21.511627906976745%;
    *width: 21.472257828236586%;
  }
  .row-fluid .span2 {
    width: 12.790697674418606%;
    *width: 12.751327595678449%;
  }
  .row-fluid .span1 {
    width: 4.069767441860465%;
    *width: 4.030397363120308%;
  }
  .row-fluid .offset12 {
    margin-left: 109.30232558139535%;
    *margin-left: 109.22358542391503%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 104.65116279069767%;
    *margin-left: 104.57242263321734%;
  }
  .row-fluid .offset11 {
    margin-left: 100.58139534883722%;
    *margin-left: 100.5026551913569%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 95.93023255813954%;
    *margin-left: 95.85149240065921%;
  }
  .row-fluid .offset10 {
    margin-left: 91.86046511627907%;
    *margin-left: 91.78172495879875%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 87.20930232558139%;
    *margin-left: 87.13056216810106%;
  }
  .row-fluid .offset9 {
    margin-left: 83.13953488372094%;
    *margin-left: 83.06079472624062%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 78.48837209302326%;
    *margin-left: 78.40963193554293%;
  }
  .row-fluid .offset8 {
    margin-left: 74.4186046511628%;
    *margin-left: 74.33986449368247%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 69.76744186046511%;
    *margin-left: 69.68870170298479%;
  }
  .row-fluid .offset7 {
    margin-left: 65.69767441860465%;
    *margin-left: 65.61893426112434%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 61.04651162790698%;
    *margin-left: 60.96777147042667%;
  }
  .row-fluid .offset6 {
    margin-left: 56.97674418604652%;
    *margin-left: 56.898004028566206%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 52.32558139534884%;
    *margin-left: 52.24684123786853%;
  }
  .row-fluid .offset5 {
    margin-left: 48.25581395348837%;
    *margin-left: 48.17707379600806%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 43.604651162790695%;
    *margin-left: 43.525911005310384%;
  }
  .row-fluid .offset4 {
    margin-left: 39.53488372093023%;
    *margin-left: 39.45614356344992%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.883720930232556%;
    *margin-left: 34.804980772752245%;
  }
  .row-fluid .offset3 {
    margin-left: 30.813953488372093%;
    *margin-left: 30.735213330891778%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 26.16279069767442%;
    *margin-left: 26.084050540194102%;
  }
  .row-fluid .offset2 {
    margin-left: 22.093023255813954%;
    *margin-left: 22.01428309833364%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.44186046511628%;
    *margin-left: 17.363120307635963%;
  }
  .row-fluid .offset1 {
    margin-left: 13.372093023255815%;
    *margin-left: 13.2933528657755%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.720930232558139%;
    *margin-left: 8.642190075077826%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 80px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1706px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1556px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 1406px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 1256px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 1106px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 956px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 806px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 656px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 506px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 356px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 206px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -80px;
  }
  .thumbnails > li {
    margin-left: 80px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -50px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 50px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1054px;
  }
  .span12 {
    width: 1054px;
  }
  .span11 {
    width: 962px;
  }
  .span10 {
    width: 870px;
  }
  .span9 {
    width: 778px;
  }
  .span8 {
    width: 686px;
  }
  .span7 {
    width: 594px;
  }
  .span6 {
    width: 502px;
  }
  .span5 {
    width: 410px;
  }
  .span4 {
    width: 318px;
  }
  .span3 {
    width: 226px;
  }
  .span2 {
    width: 134px;
  }
  .span1 {
    width: 42px;
  }
  .offset12 {
    margin-left: 1154px;
  }
  .offset11 {
    margin-left: 1062px;
  }
  .offset10 {
    margin-left: 970px;
  }
  .offset9 {
    margin-left: 878px;
  }
  .offset8 {
    margin-left: 786px;
  }
  .offset7 {
    margin-left: 694px;
  }
  .offset6 {
    margin-left: 602px;
  }
  .offset5 {
    margin-left: 510px;
  }
  .offset4 {
    margin-left: 418px;
  }
  .offset3 {
    margin-left: 326px;
  }
  .offset2 {
    margin-left: 234px;
  }
  .offset1 {
    margin-left: 142px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 4.743833017077799%;
    *margin-left: 4.704462938337642%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.96062992125984%;
  }
  .row-fluid .span11 {
    width: 91.27134724857686%;
    *width: 91.2319771698367%;
  }
  .row-fluid .span10 {
    width: 82.5426944971537%;
    *width: 82.50332441841354%;
  }
  .row-fluid .span9 {
    width: 73.81404174573055%;
    *width: 73.77467166699039%;
  }
  .row-fluid .span8 {
    width: 65.08538899430741%;
    *width: 65.04601891556725%;
  }
  .row-fluid .span7 {
    width: 56.35673624288425%;
    *width: 56.3173661641441%;
  }
  .row-fluid .span6 {
    width: 47.6280834914611%;
    *width: 47.58871341272094%;
  }
  .row-fluid .span5 {
    width: 38.89943074003796%;
    *width: 38.8600606612978%;
  }
  .row-fluid .span4 {
    width: 30.1707779886148%;
    *width: 30.131407909874643%;
  }
  .row-fluid .span3 {
    width: 21.442125237191654%;
    *width: 21.402755158451495%;
  }
  .row-fluid .span2 {
    width: 12.713472485768502%;
    *width: 12.674102407028345%;
  }
  .row-fluid .span1 {
    width: 3.984819734345351%;
    *width: 3.9454496556051937%;
  }
  .row-fluid .offset12 {
    margin-left: 109.4876660341556%;
    *margin-left: 109.40892587667527%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 104.7438330170778%;
    *margin-left: 104.66509285959748%;
  }
  .row-fluid .offset11 {
    margin-left: 100.75901328273245%;
    *margin-left: 100.68027312525213%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 96.01518026565466%;
    *margin-left: 95.93644010817434%;
  }
  .row-fluid .offset10 {
    margin-left: 92.0303605313093%;
    *margin-left: 91.95162037382897%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 87.28652751423151%;
    *margin-left: 87.20778735675118%;
  }
  .row-fluid .offset9 {
    margin-left: 83.30170777988614%;
    *margin-left: 83.22296762240582%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 78.55787476280835%;
    *margin-left: 78.47913460532803%;
  }
  .row-fluid .offset8 {
    margin-left: 74.573055028463%;
    *margin-left: 74.49431487098268%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 69.82922201138521%;
    *margin-left: 69.75048185390489%;
  }
  .row-fluid .offset7 {
    margin-left: 65.84440227703985%;
    *margin-left: 65.76566211955954%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 61.10056925996205%;
    *margin-left: 61.02182910248174%;
  }
  .row-fluid .offset6 {
    margin-left: 57.11574952561669%;
    *margin-left: 57.03700936813639%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 52.371916508538895%;
    *margin-left: 52.293176351058584%;
  }
  .row-fluid .offset5 {
    margin-left: 48.38709677419355%;
    *margin-left: 48.30835661671325%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 43.643263757115754%;
    *margin-left: 43.56452359963544%;
  }
  .row-fluid .offset4 {
    margin-left: 39.6584440227704%;
    *margin-left: 39.579703865290085%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.9146110056926%;
    *margin-left: 34.83587084821229%;
  }
  .row-fluid .offset3 {
    margin-left: 30.929791271347252%;
    *margin-left: 30.851051113866934%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 26.18595825426945%;
    *margin-left: 26.107218096789136%;
  }
  .row-fluid .offset2 {
    margin-left: 22.2011385199241%;
    *margin-left: 22.122398362443786%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.457305502846303%;
    *margin-left: 17.378565345365985%;
  }
  .row-fluid .offset1 {
    margin-left: 13.472485768500949%;
    *margin-left: 13.393745611020634%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.72865275142315%;
    *margin-left: 8.649912593942835%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 50px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1040px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 948px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 856px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 764px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 672px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 580px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 488px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 396px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 304px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 212px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 120px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 28px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container-fluid {
    padding: 0;
  }
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0;
  }
  .modal.fade.in {
    top: auto;
  }
}
@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 28px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
}
@media (min-width: 1400px) {
  .nav-social li {
    margin-top: 15px;
  }
  .headline {
    margin: 75px 0;
  }
}
@media (max-width: 767px) {
  .topbar {
    margin-left: -20px;
    margin-right: -20px;
  }
  .brand {
    font-size: 24px;
  }
  .footer .label.right {
    padding-top: 30px;
    text-align: left;
  }
  .nav-social {
    float: none;
  }
  .nav-social li {
    margin: 0 10px 0 0;
  }
}
